Django<4
djoser
psycopg2
requests
djangorestframework
uwsgi
django-cors-headers
django-redis
celery
django-model-utils
django-better-admin-arrayfield
django-filter
Pillow
whitenoise
django-versatileimagefield
python-magic
wordcloud
arabic_reshaper
python-bidi
django-colorfield
sentry-sdk
django-rest-framework-social-oauth2
fcm-django
django-cleanup
pydub
